{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base08">G</span><span class="base09">l</span><span class="base0a">o</span><span class="base0b">b</span><span class="base0c">a</span><span class="base0d">l</span><span class="base05">l</span><span class="base06">y</span>
  <span class="base06">S</span><span class="base07">c</span><span class="base08">o</span><span class="base09">p</span><span class="base0a">e</span><span class="base0b">d</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;" class="hero-links">
  <a href="/about/">About</a> -
  <a rel="me" href="https://fosstodon.org/@edmistond">Mastodon</a> -
  <a href="https://twitter.com/edmistond">Twitter</a> -
  <a href="https://github.com/edmistond">GitHub</a> -
  <a href="https://gitlab.com/edmistond">GitLab</a> -
  <a href="https://www.linkedin.com/in/edmistond/">LinkedIn</a>
</div>

<div style="text-align: center;">
  A Blog About Technology, Life, the Universe, and Everything.
</div>
